<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
HELLO GUYS U MENA VSE NICE!
{{name}}








<div>
    <a href="/"> Main page</a>
</div>
</body>
</html>